/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal:#074a35;
    --cor-complementar: #abe6aa;
    --cor-secundaria:#f4b970;
    --cor-destaque: #a4240e;
    --cor-fundo: #f5f5dc;
    --cor-footer:#042e21;

    --fonte-titulos: "Playfair Display", serif;
    --fonte-principal: "Montserrat", sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--cor-fundo);
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* é camadas (a header esta por cima dos elementos), principal*/
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
}

/* ----------------- logo ---------------------------*/

.logo{
    height: 100px;
    width: 350px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.logo img{
    height: 100%;
}

.logo h1{
    font-family: var(--fonte-titulos);
    font-size: 20px;
    padding: 7px;
    color: var(--cor-fundo);

}

/* ---------------- menu ---------------------------*/

.menu{
    margin-left: 50px;
    width: 850px;
    font-size: 11px;
}

.menu ul{
    display: flex;
    font-family: var(--fonte-principal);
}

.menu li{
    padding: 5px;
}

.menu ul li a{ /*especificidade*/
    padding: 10px 40px;
    color:var(--cor-complementar);
    padding: 10px 20px;
    text-decoration: none;
}

.menu ul li a:hover{
    border: 1px solid var(--cor-complementar);
    border-radius: 25px;
    color: var(--cor-secundaria);
}

/* ---------------- HOME ---------------------------*/

.linha_home{
    background-image: url(img_restaurante.png);
    background-size: cover; /*cobre 100% do container*/
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    width: 1200px;
    height: 100%;
    padding-top: 110px;  
}

.home{
    display: flex;
    align-items: flex-end;
}

.linha{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
}

.escrita{
    background-color:10px 10px 5px rgba(0, 0, 0, 0.319);
    opacity: 0.6px;
    font-size: 40px;
    text-shadow: 5px 3px 5px rgb(0, 6, 4);
    color: var(--cor-fundo);
    margin-bottom: 80px;
    font-family: var(--fonte-titulos)
}

.escrita h2{
    font-size: 20px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
}


/*------------------ seção 1 ------------------*/

.secao1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title_secao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
    margin-top: -20px;
    background-color: rgba(169, 169, 169, 0.082);
}

.title_secao h2{  
    font-size: 35px;
    color: var(--cor-principal);
    padding: 0px 0px 5px 10px;
    font-family: var(--fonte-titulos)
}

.title_secao h2:hover{
    color:var(--cor-destaque);
    transition: 0.8s ease-in-out;
}

.card_comida{
    border: 0.00001px solid var(--cor-secundaria);
    border-radius: 25px;
    width: 30%;
    height: 87%;
    margin: 0px 15px 15px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.7s;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.1);
}

.card_comida:hover{
    transform: scale(1.01); 
    transition: 0.5s;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.foto{
    background-color:var(--cor-secundaria);
    height:50% ;
    border-radius: 25px 25px 0px  0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.dica_do_chef{
    padding: 10px 15px 5px 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    font-family: var(--fonte-principal);
}

figure{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

figure img{
    width: 65%;
    height: auto;
}

.information{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.prato{
    font-family: var(--fonte-principal);
}

.information h3{
    font-size: 25px;
    color: var(--cor-destaque);
    padding: 0px 0px 5px 10px;
    font-family: var(--fonte-titulos);
}

.information p{
    font-size: 13px;
    color:var(--cor-principal);
    padding: 0px 0px 5px 10px;
    font-family:var(--fonte-principal);
}

button{
    border: 0.5px;
    width: 250px;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    padding: 15px 20px;
    border-radius: 25px;
}

button:hover{
    background-color: var(--cor-destaque);
    transition:0.8s ease-in-out ;
}

button a{
    color: var(--cor-secundaria);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--fonte-principal);
    
}

.botao_comprar{
    height: 10%;
}

.botao_comprar img{
    width: 10%;
}

.title_secao button{
    background-color: var(--cor-principal);
    height: 15px;
    padding-bottom: 25px;
    margin-top: 15px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title_secao button:hover{
    background-color: var(--cor-destaque);
    transition:0.8s ease-in-out ;
}

.title_secao button p{
    margin-top: 3px;
}

.title_secao button img{
    width: 10%;
    margin-top: 3px;
}

/* ------------------ seção 2 -------------------*/
.prato3_secao2{
    width: 50%;
}

/* ------------------ seção 6 -------------------*/
.secao6{
    width: 100%;
    height: 100vh;
    background-color:var(--cor-complementar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.imagem h5{
    background-color: var(--cor-principal);
    width: 650px;
    height: 100%;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: -150px;
    transform: rotate(45deg);
}


.nossa_historia{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.foto_prato img {
    width:85% ;
    transform: rotate(20deg);
    margin-left: 100px;
    margin-top: 50px;
}
.foto_prato{
    width: 55%; 
}

.nossa_h{
    width: 45%;
    padding: 30px 35px 0px 15px;
}

.title_nh h2{
    color: var(--cor-destaque);
    font-size: 40px;
    font-family: var(--fonte-titulos);
}
.title_nh p{
    color: var(--cor-destaque);
    font-family: var(--fonte-principal);
}


.text_nh p{
    padding: 10px;
    color:var(--cor-principal);
    font-family:var(--fonte-principal);
}



/* ------------------ rodapé -------------------*/

footer{
    width: 100%;
    height: 300px;
    background-color:var(--cor-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* é camadas (a header esta por cima dos elementos), principal*/
}

.coluna_rodape{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.coluna_rodape figure{
    max-width: 400px;
    height: auto;
}

.coluna_rodape figure img{
    width: 95%;
}

.localizacao{
    margin: 10px;
    height: 70%;
    padding: 10px 15px;
}

.localizacao h2{
    color: var(--cor-complementar);
    font-family: var(--fonte-titulos);
    font-size: 20px;  }

.sub{
    color:var(--cor-fundo);
    font-family: var(--fonte-principal);
    padding: 7px ;
    font-size: 12px
}


.localizacao ul li {
    color:var(--cor-secundaria);
    font-family: var(--fonte-principal);
    padding: 7px 0;
    list-style: disc;
    font-size: 13px;
}

.localizacao ul li a{
    color:var(--cor-complementar);
    font-family: var(--fonte-principal);
    padding: 7px 0;
    list-style: disc;
    font-size: 13px;
}

.funcionamento{
    margin-left: 35px;
}

.contatos_sociais{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    border-top: 1px var(--cor-principal) solid;
    color: var(--cor-fundo);
}

.rede_s{
    font-size: 15px;
    font-family: var(--fonte-principal);
    color: var(--cor-complementar);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.rede_s img{
    width: 15%;
}

.rede_s p a{
    color: var(--cor-complementar);
}
